<div class="flex-row align-items-center" ng-controller="chooseParkingCtrl">
    <div class="container" style=" position: relative;">

        <div class="row" ng-click="parkingChosen('I')" style="padding-bottom: 10px;cursor: pointer;">
            <div style="height: 370px;width:100%;background-image: url('img/indoor-parking.jpg'); border-radius: 1000px;">
                <div class="card-body text-center" style="position: absolute;top: 160px;width: 100%;">
                    <h1 class="text-white">Indoor Parking</h1>
                    <h5 class="text-white">{{leftSpots.indoor}} parking spots left</h5>
                </div>
            </div>

        </div>

        <div class="row" ng-click="parkingChosen('O')" style="cursor: pointer;">
            <div style="height: 370px;width:100%;background-image: url('img/outdoor-parking.png'); border-radius: 1000px;">
                <div class="card-body text-center" style="position: absolute;top: 540px;width: 100%;">
                    <h1 class="text-white">Outdoor Parking</h1>
                    <h5 class="text-white">{{leftSpots.outdoor}} parking spots left</h5>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%;" ng-click="parkingChosen('I')">
                        <div class="card-body text-center">
                            <h1>Indoor Parking</h1>
                            <h5>{{leftSpots.indoor}} parking spots left</h5>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%;" ng-click="parkingChosen('O')">
                        <div class="card-body text-center">
                            <h1>Outdoor Parking</h1>
                            <h5>{{leftSpots.outdoor}} parking spots left</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>