<div class="flex-row align-items-center" ng-controller="chooseFloorCtrl" ui-view>
    <div class="container" style=" position: relative;">

        <div style="text-align:center">
            <h3>Please proceed by choosing your preferred floor.</h3>
            <br>
        </div>

        <div class="col-md-6" style="padding-bottom: 10px;cursor: pointer;float:left;" ng-click="floorChosen('First')">
            <div style="height: 370px;width:100%; background-color:black; background-repeat:no-repeat;border-radius: 1000px;">
                <div class="card-body text-center" style="position: absolute;top: 120px;width: 95%;">
                    <h1 class="text-white">B1</h1>
                    <h5 class="text-white">{{leftSpots.first}} parking spots left</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding-bottom: 10px;cursor: pointer; float:right" ng-click="floorChosen('Second')">
            <div style="height: 370px;width:100%; background-color:black; background-repeat:no-repeat;border-radius: 1000px;" ng-if="location === 'Indoor'">
                <div class="card-body text-center" style="position: absolute;top: 120px;width: 95%;">
                    <h1 class="text-white">B2</h1>
                    <h5 class="text-white">{{leftSpots.second}} parking spots left</h5>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- background-image: url('img/floor.jpg'); -->