<div class="flex-row align-items-center">
    <div class="row">
        <div class="card" style="width:100%">
            <div class="card-body">
                <div class="form-group">
                    <label for="vat">Name</label>
                    <input type="text" class="form-control" id="vat" placeholder="Enter your name">
                </div>
                <!--/.row-->
                <div class="form-group">
                    <label for="country">Enter your complaint here </label>
                    <textarea type="text" class="form-control" id="country" placeholder="Tell us what is on your mind"></textarea>
                </div>

                <button ng-click="login()" class="btn btn-primary">
                       Send
                </button>

            </div>
        </div>
    </div>
</div>