<div class="flex-row align-items-center" ui-view>
    <div class="row">
        <div class="card-body" style="background-color:white">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="20%">Name</th>
                        <th width="80%">Complaint</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Belal El-Monajjed</td>
                        <td>I waited for 45 min to get a parking spot. Unbelievable!</td>
                    </tr>
                    <tr>
                        <td>Paul</td>
                        <td>Amazing Web app</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>