<div class="flex-row align-items-center">
    <div class="row">
        <div class="card" style="width:100%">
            <div class="card-body">
                <div class="form-group">
                    <label for="vat">Name</label>
                    <input type="text" class="form-control" id="vat" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="street">Parking Location</label>
                    <input type="text" class="form-control" id="street" placeholder="Enter parking location">
                </div>
                <!--/.row-->
                <div class="form-group">
                    <label for="country">More details</label>
                    <textarea type="text" class="form-control" id="country" placeholder="Please be precise about the fault occuring"></textarea>
                </div>
                <button ng-click="login()" class="btn btn-primary">
                       Send
                </button>
            </div>
        </div>
    </div>
</div>