<div class="flex-row align-items-center" ng-controller="userActivityCtrl" ui-view>
    <div class="row">
        <div class="card-body" style="background-color:white">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date registered</th>
                        <th>Role</th>
                        <th>Parked Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Quintin Ed</td>
                        <td>2018/02/01</td>
                        <td>Admin</td>
                        <td>Indoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Yiorgos Avraamu</td>
                        <td>2018/01/01</td>
                        <td>Employee</td>
                        <td>Indoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Avram Tarasios</td>
                        <td>2018/02/01</td>
                        <td>Employee</td>
                        <td>Outdoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Enéas Kwadwo</td>
                        <td>2018/03/01</td>
                        <td>Employee</td>
                        <td>Indoor</td>
                        <td>
                            <span class="badge badge-warning">Inactive</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Agapetus Tadeáš</td>
                        <td>2018/01/21</td>
                        <td>Employee</td>
                        <td>Outdoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Belal El-Monajjed</td>
                        <td>2018/02/01</td>
                        <td>Employee</td>
                        <td>Outdoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Random Person</td>
                        <td>2018/03/01</td>
                        <td>Employee</td>
                        <td>Indoor</td>
                        <td>
                            <span class="badge badge-warning">Inactive</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Micheal Rodreg</td>
                        <td>2018/01/21</td>
                        <td>Employee</td>
                        <td>Outdoor</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>