<div class="flex-row align-items-center" ng-controller="weeklyinfoCtrl">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="h4 mb-0">15 Mins.</div>
                    <br>
                    <small class="text-muted text-uppercase font-weight-bold">Average Waiting time</small>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-white bg-warning">
                <div class="card-body">
                    <div class="h4 mb-0">10 People</div>
                    <br>
                    <small class="text-muted text-uppercase font-weight-bold">Total Number of users that waited</small>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <div class="h4 mb-0">1 hour</div>
                    <br>
                    <small class="text-muted text-uppercase font-weight-bold">Total Number of hours the parking was full</small>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card text-white bg-danger">
                <div class="card-body">
                    <div class="h4 mb-0">5</div>
                    <br>
                    <small class="text-muted text-uppercase font-weight-bold">Total Number complaints</small>
                </div>
            </div>
        </div>
    </div>

</div>