<div class="flex-row align-items-center" ng-controller="yearlyCtrl" ui-view>
    <div class="row">
        <!-- <div class="col-md-3" ng-repeat="(month, values) in labels" style="cursor:pointer" ng-click="showMonthInfo(month)">
            <div class="card bg-success">
                <div class="card-body">
                    <div class="h4 m-0">{{month}}</div>
                    <small class="text-muted">Av. Number of people waiting: {{values['Av. Number of people waiting']}}</small><br>
                    <small class="text-muted">Av waiting time: {{values['Av waiting time']}}</small><br>
                    <small class="text-muted"><label style="margin-top:6px" ng-class="{'label-good' : values['Status'] === 'Good', 'label-vgood' : values['Status'] === 'Very Good', 'label-fair' : values['Status'] === 'Fair', 'label-danger' : values['Status'] === 'Disaster'}" class="label">{{values['Status']}}</label></small>
                </div>
            </div>
        </div> -->
    </div>
</div>